/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  position: relative;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table {
  width: 100%;
}
.container {
  height: 90%;
  margin: 10px;
}
